@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

.hero-slider {
    width: 100vw;
    height: 100vh; 
    max-height: 750px; 
    overflow: hidden;
    position: relative;
}

.hero-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

	
	.hero-slider .slide {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		animation: slideAnimation 15s infinite ease-in-out;
	}

	.hero-slider .slide::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4); 
	}
	
	.hero-slider .slide:nth-child(1) {
		animation-delay: 0s;
	}
	.hero-slider .slide:nth-child(2) {
		animation-delay: 3s;
	}
	.hero-slider .slide:nth-child(3) {
		animation-delay: 6s;
	}
	.hero-slider .slide:nth-child(4) {
		animation-delay: 9s;
	}
	.hero-slider .slide:nth-child(5) {
		animation-delay: 12s;
	}
	
	@keyframes slideAnimation {
		0% { opacity: 0; }
		10% { opacity: 1; }
		40% { opacity: 1; } 
		50% { opacity: 0; }
		100% { opacity: 0; }
	}
	

	.slider-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		text-align: center;
		line-height: 1.2; 
	}
	
	.main-text {
		display: block;
		font-size: 5rem;
		font-weight: normal;
	}
	
	.small-text {
		display: block;  
		font-size: 1.2rem; 
		margin-top: 10px;  
		line-height: 1.2; 
	}
	
	
.image.fit img {
	width: 100%;
	height: auto;
}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.container {
		max-width: 1280px;
		margin: 0 auto;
		width: 90%;
	}

	
	@-ms-viewport {
		width: device-width;
	}


	html {
		font-size: 13pt;
	}

		
	body {
		background-color: #fff;
		color: #444;
	}

	body, input, select, textarea {
		font-family: "Poppins", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}


	p {
		margin: 0 0 2rem 0;
	}

		p.special {
			text-transform: uppercase;
			font-size: .75rem;
			font-weight: 300;
			margin: 0 0 .5rem 0;
			padding: 0 0 1rem 0;
			letter-spacing: .25rem;
		}

			p.special:after {
				content: '';
				position: absolute;
				margin: auto;
				right: 0;
				bottom: 0;
				left: 0;
				width: 50%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.125);
			}

	h1, h2 {
		font-weight: 300;
		line-height: 1.5;
		margin: 0 0 1rem 0;
	}

		h1 a, h2 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75rem;
	}

	.align-center {
		text-align: center;
	}

	input, select, textarea {
		color: #555;
	}


	h1, h2 {
		color: #555;
	}


	.box {
		margin-bottom: 2rem;
		background: #FFF;
	}

		.box .image.fit {
			margin: 0;
			border-radius: 0;
		}

			.box .image.fit img {
				border-radius: 0;
			}

		.box header h2 {
			margin-bottom: 2rem;
		}

		.box header p {
			text-transform: uppercase;
			font-size: .75rem;
			font-weight: 300;
			margin: 0 0 .25rem 0;
			padding: 0 0 .75rem 0;
			letter-spacing: .25rem;
		}

			.box header p:after {
				content: '';
				position: absolute;
				margin: auto;
				right: 0;
				bottom: 0;
				left: 0;
				width: 50%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.125);
			}

		.box .content {
			padding: 3rem;
		}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		

	.box {
		border-color: rgba(144, 144, 144, 0.25);
	}

	.button {

		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 2px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 300;
		height: 2.85rem;
		line-height: 2.95rem;
		padding: 0 1.5rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

	.button {
		background-color: #f2f2f2;
		color: #000 !important;
	}

	.button:hover {
			background-color: white;
		}


	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

	.image {
		border-radius: 2px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 2px;
			display: block;
		}


		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}


	section.special, article.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: 0 0 1.5rem 0;
		color: #bbb;
	}

	header h2 + p {
		font-size: 1.25rem;
		margin-top: -1rem;
	}

	.wrapper {
		padding: 3rem 4rem 3rem 4rem; 
		width: 100%; 
		max-width: 190rem; 
	}
	
	.wrapper > .inner {
		margin: 0 auto;
		width: 100%;
	}
	
	@media screen and (max-width: 1024px) {
		.wrapper {
			width: 95%;
			max-width: 60rem;
		}
	
		.wrapper > .inner {
			width: 100%;
		}
	}
	
	@media screen and (max-width: 768px) {
		.wrapper {
			width: 100%;
			max-width: 50rem;
			
		}
	}
	
	@media screen and (max-width: 480px) {
		.wrapper {
			width: 100%;
		}
	}

		.wrapper.style2 {
			background-color: #f2f2f2;
			color: #a6a6a6;
		}

			.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
				color: #000;
			}

			.wrapper.style2 h1, .wrapper.style2 h2 {
				color: #000;
			}

			.wrapper.style2 .box {
				border-color: rgba(0, 0, 0, 0.15);
			}

			.wrapper.style2 .button {
				background-color: #000;
				color: #f2f2f2 !important;
			}

				.wrapper.style2 .button.alt {
					background-color: transparent;
					box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
					color: #000 !important;
				}

					.wrapper.style2 .button.alt:hover {
						background-color: rgba(0, 0, 0, 0.075);
					}

					.wrapper.style2 .button.alt:active {
						background-color: rgba(0, 0, 0, 0.2);
					}

					.wrapper.style2 .button.alt.icon:before {
						color: #999999;
					}


			.wrapper.style2 .select-wrapper:before {
				color: rgba(0, 0, 0, 0.15);
			}

			.wrapper.style2 ul.alt li {
				border-top-color: rgba(0, 0, 0, 0.15);
			}

			.wrapper.style2 header p {
				color: #999999;
			}

			.wrapper.style2 table tbody tr {
				border-color: rgba(0, 0, 0, 0.15);
			}

				.wrapper.style2 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(0, 0, 0, 0.075);
				}

			.wrapper.style2 table th {
				color: #000;
			}

			.wrapper.style2 table thead {
				border-bottom-color: rgba(0, 0, 0, 0.15);
			}

			.wrapper.style2 table tfoot {
				border-top-color: rgba(0, 0, 0, 0.15);
			}

			.wrapper.style2 table.alt tbody tr td {
				border-color: rgba(0, 0, 0, 0.15);
			}

		.wrapper.style3 {
			background-color: #000;
			color: #bfbfbf;
			background-image: url(../../images/bg.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
		}

			.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
				color: #ffffff;
			}


			.wrapper.style3 strong, .wrapper.style3 b {
				color: #ffffff;
			}

			.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
				color: #ffffff;
			}

			.wrapper.style3 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 hr {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}


			.wrapper.style3 label {
				color: #ffffff;
			}


			.wrapper.style3 header p {
				color: #999999;
			}

			.wrapper.style3 .inner {
				position: relative;
				z-index: 2;
			}

			.wrapper.style3 p {
				text-transform: uppercase;
				font-size: .75rem;
				font-weight: 300;
				margin: 0 0 .5rem 0;
				padding: 0 0 1rem 0;
				letter-spacing: .25rem;
			}

				.wrapper.style3 p:after {
					content: '';
					position: absolute;
					margin: auto;
					right: 0;
					bottom: 0;
					left: 0;
					width: 50%;
					height: 1px;
					background-color: rgba(255, 255, 255, 0.5);
				}

			.wrapper.style3:before {
				transition-delay: 1.25s;
				content: '';
				display: block;
				background-color: rgba(0, 0, 0, 0.65);
				height: 100%;
				left: 0;
				opacity: 0.75;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

/* Existing CSS remains the same until the grid-style and gallery sections */

.grid-style {
    width: 100%;
    margin: 0 0 2.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.grid-style > * {
    flex-shrink: 1;
    flex-grow: 0;
    width: 50%; /* Default to 2 columns */
    padding: 2rem;
}

.grid-style > :nth-child(-n + 2) {
    padding-top: 0;
}

.grid-style > :nth-last-child(-n + 2) {
    padding-bottom: 0;
}

.grid-style > :nth-child(2n + 1) {
    padding-left: 0;
}

.grid-style > :nth-child(2n) {
    padding-right: 0;
}

.grid-style > :nth-child(2n + 1),
.grid-style > :nth-child(2n) {
    width: calc(50% + 0rem);
}

.grid-style .box {
    margin: 0;
}

@media screen and (max-width: 768px) {
	.grid-style{
		gap: 1rem;
	}
    .grid-style > * {
        width: 100%; 
        padding: 1rem 0; 
    }

	.header p {
		font-size: 0.5rem;
	}

	h2{
		font-size: 1rem ;
	}

    .grid-style > :nth-child(-n + 2) {
        padding-top: 0;
    }

    .grid-style > :nth-last-child(-n + 2) {
        padding-bottom: 0;
    }

    .grid-style > :nth-child(2n + 1),
    .grid-style > :nth-child(2n) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .box .content {
        padding: 1.5rem; 
    }

    .box header h2 {
        font-size: 1.5rem; 
        margin-bottom: 1rem; 
    }

    .box header p {
        font-size: 0.5rem; 
    }

    .box p {
        font-size: 0.5rem; 
    }

    .button {
        font-size: 0.6rem; 
        height: 2.5rem;
        line-height: 2.5rem; 
        padding: 0 1rem;
    }
}

.gallery {
    width: 100%;
    margin: 2.5rem 0 2.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.gallery > * {
    width: 50%;
    padding: 2rem;
}

.gallery > :nth-child(-n + 2) {
    padding-top: 0;
}

.gallery > :nth-last-child(-n + 2) {
    padding-bottom: 0;
}

.gallery > :nth-child(2n + 1) {
    padding-left: 0;
}

.gallery > :nth-child(2n) {
    padding-right: 0;
}

.gallery > :nth-child(2n + 1),
.gallery > :nth-child(2n) {
    width: calc(50% + 0rem);
}

.gallery .image {
    background: #FFF;
    padding: 1rem;
}

.gallery .image.fit {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .gallery > * {
        width: 100%; 
        padding: 1rem 0; 
    }

    .gallery > :nth-child(-n + 2) {
        padding-top: 0;
    }

    .gallery > :nth-last-child(-n + 2) {
        padding-bottom: 0;
    }

    .gallery > :nth-child(2n + 1),
    .gallery > :nth-child(2n) {
        width: 100%; 
        padding-left: 0;
        padding-right: 0;
    }

    .gallery .image.fit img {
        max-width: 100%; 
    }

    .gallery .image {
        padding: 0.5rem; 
    }
}
	#header {
		background: rgba(0, 0, 0, 0.975);
		color: #a6a6a6;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header > .logo {
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

			#header > .logo a {
				font-size: 1.25em;
				color: #FFF;
				text-decoration: none;
			}

				#header > .logo a:hover {
					color: rgba(255, 255, 255, 0.65);
				}

			#header > .logo span {
				font-weight: 400;
				font-size: .8em;
				color: rgba(255, 255, 255, 0.65);
			}

		#header > a {
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 0.75em;
			color: inherit;
			text-decoration: none;
			color: #FFF;
		}

			#header > a:hover {
				color: #f2f2f2;
			}

			#header > a[href="#menu"] {
				text-decoration: none;
				
			}

				#header > a[href="#menu"]:before {
					content: "ïƒ‰";
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#header > a[href="#menu"]:before {
					margin: 0 0.5em 0 0;
				}

			#header > a + a[href="#menu"]:last-child {
				border-left: solid 1px rgba(0, 0, 0, 0.15);
				padding-left: 1.25em;
				margin-left: 0.5em;
			}

			#header > a:last-child {
				padding-right: 1.25em;
			}


		#header.alt {
			animation: none;
			background-color: transparent;
			box-shadow: none;
			overflow: hidden;
			position: absolute;
			top: 1.5em;
		}

			#header.alt h1 {
				left: 2.5em;
			}

			nav {
				text-align: right;
				margin-right: 20px;
			}
			
			nav a {
				text-decoration: none;
				color: inherit;
				font-weight: bold;
				margin: 0 15px;
			}
			
			nav a:hover {
				color: #ff6600; 
			}
			

	

	#menu {
		background: rgba(0, 0, 0, 0.95);
		box-shadow: none;
		color: #000;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		padding: 3rem 2rem;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20rem;
		z-index: 10002;
	}

		
	#footer {
		padding: 4rem 0 2rem 0;
		background: #000;
		text-align: center;
		display: flex;  
		justify-content: center;  
		align-items: center;  
		gap: 1.5rem;  
		flex-wrap: wrap;  
	}

	.icons {
		display: flex;
		justify-content: center; 
		align-items: center;
		gap: 1rem; 
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	

		#footer a {
			color: rgba(255, 255, 255, 0.5);
		}

			#footer a:hover {
				color: #FFF;
			}

		.copyright {
			background: #000;
			color: #bbb;
			font-size: 0.9rem;
			padding: 0 0 2rem 0;
			text-align: center;
		}
.copyright a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.copyright a:hover {
	color: #FFF;
}


.subscribe-box {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/slide03.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    padding: 6em 0;
    text-align: center;
}

.subscribe-box h2 {
    margin: 0 0 .85em 0;
    font-weight: 100;
    font-size: 30px;
    color: white;
}

.subscribe-box .subscribe {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.subscribe-box .subscribe input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    padding: 1em 0 .8em;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.5;
    color: inherit;
    outline: none;
    color: white;
}

.subscribe-box .subscribe input::placeholder {
    color: hsla(0, 0%, 100%, 0.5);
}

.subscribe-box .subscribe button {
    all: unset;
    margin-top: 2.4em;
    background: transparent;
    border: 2px solid white;
    padding: 1em 4em;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: all 300ms ease;
}

.subscribe-box .subscribe button span {
    display: inline-block;
    transition: all 300ms ease;
    color: white;
}

.subscribe-box .subscribe button:before,
.subscribe-box .subscribe button:after {
    content: "";
    display: block;
    position: absolute;
    transition: all 300ms ease;
    opacity: 0;
}

.subscribe-box .subscribe button:before {
    height: 7px;
    width: 7px;
    background: transparent;
    border-right: 2px solid;
    border-top: 2px solid;
    right: 30px;
    top: 21px;
    transform: rotate(45deg);
}

.subscribe-box .subscribe button:after {
    background: white;
    height: 2px;
    width: 50px;
    left: 0;
    top: 1.49em;
}

.subscribe-box .subscribe button:hover span {
    transform: translateX(-10px);
}

.subscribe-box .subscribe button:hover:before {
    opacity: 1;
}

.subscribe-box .subscribe button:hover:after {
    width: 14px;
    opacity: 1;
    transform: translateX(160px);
}

@media screen and (max-width: 768px) {
    .subscribe-box {
        padding: 3em 1em; 
    }

    .subscribe-box h2 {
        font-size: 24px; 
        margin: 0 0 0.5em 0; 
    }

    .subscribe-box .subscribe input {
        font-size: 16px; 
        padding: 0.8em 0 0.6em; 
    }

    .subscribe-box .subscribe button {
        padding: 0.8em 2em; 
        font-size: 14px; 
        margin-top: 1.5em; 
    }

    .subscribe-box .subscribe button:before {
        right: 20px; 
    }

    .subscribe-box .subscribe button:after {
        top: 1.2em; 
    }

    .subscribe-box .subscribe button:hover:after {
        transform: translateX(120px); 
    }
}

@media (max-width: 1024px) {

    .main-text {
        font-size: 3rem;
    }

    .small-text {
        font-size: 1rem;
    }

    .container {
        width: 95%;
    }

	nav a{
        font-size: 0.8rem;
    }

	.logo {
		font-size: 0.8rem;
	}
}

@media (max-width: 768px) {

    .main-text {
        font-size: 2rem;
    }

    .small-text {
        font-size: 0.9rem;
    }

    .slider-text {
        width: 90%;
    }

	.button {
        font-size: 0.9rem;
    }

	nav a{
        font-size: 0.5rem;
    }

	.logo {
		font-size: 0.5rem;
	}
}


@media (max-width: 480px) {

    .main-text {
        font-size: 1.5rem;
    }

    .small-text {
        font-size: 0.8rem;
    }

	nav a{
        font-size: 0.5rem;
    }

	.logo {
		font-size: 0.5rem;
	}
}
